<h2>Create a new Movie</h2>

<form method="POST" action="/movies">  
  <input type="text" name="title"/>  
  <input type="text" name="genre"/>
  <input type="text" name="plot"/>  
  <button type="submit">Create</button> 
</form>